@font-face {
	font-family: 'poppins regular';
	src: url(./assets/fonts/poppins-regular.woff2),
		url(./assets/fonts/poppins-regular.woff);
	font-display: swap;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'poppins bold';
	src: url(./assets/fonts/poppins-bold.woff2),
		url(./assets/fonts/poppins-bold.woff);
	font-display: swap;
	font-weight: normal;
	font-style: normal;
}

:root {
	--poppins-regular: 'poppins regular', sans-serif;
	--poppins-bold: 'poppins bold', sans-serif;

	--background-color: #fcf5e5;
	--logo-background: #ffffffcc;
	--text-color: #212121;
	--faded-black: #212121b2;

	--main-content-padding: 80px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: var(--poppins-regular);
	background-color: var(--background-color);
	font-size: 1em;

	button {
		cursor: pointer;
	}
}

.page-wrapper {
	max-width: 1440px;
	margin: auto;
}

header {
	.logo {
		background-color: var(--logo-background);
		display: grid;
		place-items: center;
	}

	.profile {
		display: flex;
		justify-content: space-between;
		position: relative;
		height: 210px;
		margin: 0 var(--main-content-padding) 20px;
		padding-bottom: 20px;
		margin-top: 30px;
		border-bottom: 1px solid #21212166;

		h1 {
			font-size: 32px;
			font-weight: 500;
			margin-bottom: 5px;
		}

		p {
			color: var(--faded-black);
		}

		.avatar {
			width: 190px;
			height: 190px;

			img {
				width: 100%;
				aspect-ratio: 1/1;
			}
		}

		.profile-main-content {
			display: flex;
			gap: 15px;

			.text-info button {
				position: absolute;
				bottom: 20px;
				background: none;
				border: none;
				color: var(--faded-black);

            &:hover {
               color: var(--text-color);
            }
			}
		}

		& > button {
			background: var(--text-color);
			border: none;
			color: #fcf5e5;
			width: 149px;
			height: 52px;
			align-self: flex-end;
			border-radius: 8px;

			&:hover {
				background-color: #212121cc;
			}
		}
	}
}

main {
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
	gap: 20px;
	width: 100%;
	padding: 0 var(--main-content-padding);

	.card {
		max-width: 413px;

		img {
			width: 100%;
			aspect-ratio: 1/1;
		}

		div {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: 5px;

			p a {
				font-size: 20px;
				font-weight: 500;
				line-height: 120%;
				color: var(--faded-black);
				text-decoration: none;
			}

			.fa-heart {
				opacity: 0.4;
				cursor: pointer;

				&:hover {
					opacity: 1;
				}
			}
		}
	}
}
