@font-face {
   font-family: "Lato Bold";
   src: url(/first-semester/homework/assets/fonts/Lato-Bold.ttf);
}

@font-face {
   font-family: "Lato Light";
   src: url(/first-semester/homework/assets/fonts/Lato-Regular.ttf);
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Lato Light', sans-serif;
}

header {
   padding: 20px;
   width: 390px;
   height: 382px;
}

header h1 {
   padding: 96px 0 60px 0;
   font-family: 'Lato Bold', sans-serif;
}

header p {
   margin-top: 15px;
   line-height: 30px;
}

header span {
   color: #009966;
}

hr {
   border-top: 8px solid #999999;
   border-bottom: 50px solid #666666;
}

hr.wide-screen {
   display: none;
}

main {
   width: 398px;
   height: 767px;
}

.card p,
.card h2 {
   padding: 10px 25px;
}

.card h2 {
   font-family: 'Lato Bold', sans-serif;
}

.card p {
   line-height: 30px;
}

.card div {
   background-color: #FFBF00;
   margin-top: 10px;
   margin-bottom: 12px;
   width: 374px;
   height: 82px;
   border-bottom: 8px solid #CC9900;
}

@media screen and (min-width: 768px) {
   main {
      width: 768px;
      height: auto;
   }

   hr.wide-screen {
      display: block
   }
}

@media screen and (min-width: 1280px) {
   main {
      width: 1280px;
      height: 500px;
      background-color: #666666;
      padding: 65px;
   }

   hr {
      display: none;
   }

   hr.wide-screen {
      display: none
   }

   .card {
      width: 808px;
      height: 312px;
      background-color: #fff;
      padding-top: 7px;
      border-bottom: 8px solid #999999;
   }

   header {
      padding-left: 90px;
   }

   .card div {
      margin-left: -7px;
      margin-top: unset;
   }
}