* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

@font-face {
   font-family: "Brown";
   src: url(/first-semester/homework/assets/fonts/brown.woff2),
      url(/first-semester/homework/assets/fonts/brown.woff);
}

body {
   background-color: #F7FDFC;
   width: 100%;
   font-family: "Brown", sans-serif;
}

.container {
   padding: 140px;
   display: flex;
   justify-content: space-between;
}

.container .left {
   width: 460px;
   height: 275px;

   & .logo {
      width: 77.33px;
      height: 80px;

      & img {
         width: 100%;
      }
   }

   & h1 {
      margin: 24px 0;
      font-size: 40px;
      line-height: 50px;
   }

   & p {
      color: #737373;
      line-height: 25px;
      font-size: 16px;
   }
}

.container .right {
   background-color: #fff;
   width: 580px;
   height: 679px;
   padding: 24px;

   & input,
   & select {
      display: block;
      width: 238px;
      height: 48px;
      padding: 10px;
      outline: none;
      color: #737373;
      margin-top: 5px;
      border-radius: 2px;
      font-family: "Brown", sans-serif;
   }

   & input:focus,
   & select:focus {
      border: 2px solid #2EC4B6;
      color: #000;
   }

   & div {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
   }

   & label[for="dob"] {
 
      & div {
         position: relative;
         
         & input::-webkit-datetime-edit-text,
         & input::-webkit-datetime-edit-month-field,
         & input::-webkit-datetime-edit-day-field,
         & input::-webkit-datetime-edit-year-field {
            display: none;
         }

         & input::-webkit-calendar-picker-indicator {
            opacity: 0;
         }
         
         & input {
            background-image: url(/first-semester/homework/assets/calendar-icon.png);
            background-repeat: no-repeat;
            background-position: 95%;
         }

         & .custom-placeholder {
            position: absolute;
            top: 50%;
            left: 10px;
            transform: translateY(-50%);
            color: #737373;
            font-size: 14px;
         }
      }

   }

   & label[for="activity-level"] {
      display: block;

      & select {
         width: 100%;
      }
   }

   & label[for="password"] {

      & div {
         position: relative;

         & input {
            width: 100%;
         }

         img {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 3%;
         }
      }
   }

   & input[type="submit"] {
      width: 100%;
   }
}