* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

@font-face {
   font-family: "gilroy bold";
   src: url(./assets/fonts/gilroy-bold.woff2),
      url(./assets/fonts/gilroy-bold.woff);
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "gilroy medium";
   src: url(./assets/fonts/gilroy-medium.woff2),
      url(./assets/fonts/gilroy-medium.woff);
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "gilroy semibold";
   src: url(./assets/fonts/gilroy-semibold.woff2),
      url(./assets/fonts/gilroy-semibold.woff);
}

:root {
   --page-blue: #0065FE;
   --secondary-blue: #005AE2;
   --page-black: #141414;
   --footer-black: #112232;
   --secondary-bg: #1E3448;
}

body {
   font-family: "gilroy medium", sans-serif;
   color: var(--page-black);
}

header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px 145.09px;
   margin-bottom: 100px;

   & ul {
      list-style-type: none;
      display: flex;

      & li {

         & a {
            display: block;
            text-decoration: none;
            padding: 12px 24px;
            color: var(--page-black);
         }

         &:first-child a {
            color: var(--page-blue);
         }
      }
   }

   & div {
      & a {
         text-decoration: none;
         padding: 12px 22px;
         color: var(--page-blue);
         border: none;

         &:last-child {
            background-color: var(--page-blue);
            color: #fff;
            border-radius: 50px;
         }
      }
   }
}

main {
   & a {
      text-decoration: none;
      padding: 12px 30px;
      color: var(--page-blue);
      border: none;
      text-align: center;
      font-size: 16px;
   }

   & a.blue-bg {
      background-color: var(--page-blue);
      color: #fff;
      border-radius: 50px;
   }
}

section.hero {

   & section.cta {

      & .main-content {
         width: 948px;
         height: 389px;
         margin: auto;
         margin-bottom: 100px;

         & h1 {
            font-family: "gilroy bold", sans-serif;
            line-height: 96px;
            font-size: 48px;
            text-align: center;

            & span {
               color: var(--secondary-blue);
            }
         }

         & p {
            margin-top: 15px;
            margin-left: auto;
            margin-right: auto;
            font-size: 18px;
            line-height: 28px;
            text-align: center;
            width: 781px;
         }

         & div {
            width: 282px;
            display: flex;
            align-items: center;
            gap: 10px;
            margin: 60px auto 0 auto;

            & a {
               line-height: 12px;
               border-radius: 100px;
               padding: 12px 20px;

               &:first-child {
                  width: 125px;
               }
            }
         }
      }
   }
}