* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

@font-face {
   font-family: "gilroy bold";
   src: url(./assets/fonts/gilroy-bold.woff2),
      url(./assets/fonts/gilroy-bold.woff);
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "gilroy medium";
   src: url(./assets/fonts/gilroy-medium.woff2),
      url(./assets/fonts/gilroy-medium.woff);
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "gilroy semibold";
   src: url(./assets/fonts/gilroy-semibold.woff2),
      url(./assets/fonts/gilroy-semibold.woff);
}

:root {
   --page-blue: #0065FE;
   --secondary-blue: #005AE2;
   --page-black: #141414;
   --footer-black: #112232;
   --secondary-bg: #1E3448;

   --gilroy-bold: "gilroy bold", sans-serif;
   --gilroy-medium: "gilroy medium", sans-serif;
   --gilroy-semibold: "gilroy semibold", sans-serif;
}

body {
   font-family: var(--gilroy-medium);
   color: var(--page-black);
   width: 1440px;
   margin: auto;
}

header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px 145.09px;
   margin-bottom: 100px;

   & ul {
      list-style-type: none;
      display: flex;

      & li {

         & a {
            display: block;
            text-decoration: none;
            padding: 12px 24px;
            color: var(--page-black);
         }

         &:first-child a {
            color: var(--page-blue);
         }
      }
   }

   & div {
      & a {
         text-decoration: none;
         padding: 12px 22px;
         color: var(--page-blue);
         border: none;

         &:last-child {
            background-color: var(--page-blue);
            color: #fff;
            border-radius: 50px;
         }
      }
   }
}

main {
   & a {
      text-decoration: none;
      padding: 12px 30px;
      max-width: 200px;
      color: var(--page-blue);
      border: none;
      text-align: center;
      font-size: 16px;
   }

   & a.blue-bg {
      background-color: var(--page-blue);
      color: #fff;
      border-radius: 100px;
   }

}

section.hero {
   & h2.section-heading {
      font-family: var(--gilroy-bold);
      font-size: 40px;
      line-height: 48px;
      letter-spacing: 1px;

      & span {
         color: var(--secondary-blue);
      }
   }

   & section.cta {

      & .main-content {
         width: 948px;
         height: 389px;
         margin: auto;
         margin-bottom: 100px;

         & h1 {
            font-family: var(--gilroy-bold);
            line-height: 96px;
            font-size: 48px;
            text-align: center;

            & span {
               color: var(--secondary-blue);
            }
         }

         & p {
            margin-top: 15px;
            margin-left: auto;
            margin-right: auto;
            font-size: 18px;
            line-height: 28px;
            text-align: center;
            width: 781px;
         }

         & div {
            width: 282px;
            display: flex;
            align-items: center;
            gap: 10px;
            margin: 60px auto 0 auto;

            & a {
               line-height: 12px;
               border-radius: 100px;

               &:first-child {
                  width: 125px;
               }
            }
         }
      }

      & .diagrams {
         width: 100%;

         & div.hero-vector-box {
            display: flex;
            flex-direction: column;

            & img:first-child {
               width: 833px;
               height: 224px;
               margin: auto;

               &+img {
                  width: 1440px;
                  height: 93px;
               }
            }
         }

         & div.stats {
            height: 220px;
            background-color: #F9FBFD;
            display: flex;
            gap: 120px;
            align-items: center;
            justify-content: center;

            & h2 {
               width: 337px;
            }

            & div {
               display: flex;
               width: 709px;
               height: 100px;
               gap: 72px;

               & p span {
                  display: block;
                  font-family: var(--gilroy-semibold);
                  font-size: 32px;
                  line-height: 40px;
               }
            }
         }
      }
   }

   & section.why-scissors {
      display: flex;
      width: 1202.1px;
      height: 504px;
      margin: auto;
      margin-top: 148px;
      margin-bottom: 148px;
      gap: 96px;

      & .left {
         width: 398.1px;
         height: 256px;
         flex-shrink: 0;

         & h2 {
            font-family: var(--gilroy-bold);
            font-size: 40px;
            line-height: 32px;
            margin-bottom: 25px;

            & span {
               color: var(--secondary-blue);
            }
         }

         & p {
            font-family: var(--gilroy-medium);
            line-height: 28px;
            width: 370px;
            margin: auto;
         }
      }

      & .right {
         width: 708px;
         height: 504px;
         display: flex;
         gap: 28px;
         flex-wrap: wrap;

         & div {
            width: 340px;

            & h3 {
               font-family: var(--gilroy-semibold);
               font-size: 32px;
               line-height: 28px;
               margin: 30px 0 18px 0;
            }

            & p {
               font-family: var(--gilroy-medium);
               line-height: 24px;
               font-size: 16px;
            }
         }
      }
   }

   section.pricing {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 100px;

      & div.heading {
         margin-bottom: 70px;
         width: 576.1px;

         & h2 {
            line-height: 48px;
            font-size: 38px;
            margin-bottom: 15px;
         }

         & p {
            width: 556px;
            line-height: 24px;
            text-align: center;
         }
      }

      & div.plans {
         display: flex;
         width: 1088px;
         height: 627px;
         align-items: center;
         justify-content: center;

         & div.basic,
         & div.teams {
            height: 455px;
            width: 379px;
            border: 1px solid var(--secondary-blue);
            border-radius: 12px 0 0 12px;
            padding: 30px 60px;
            border-right: none;

            & li {
               list-style-type: none;
               margin-bottom: 20px;
            }
         }

         & div.teams {
            border-radius: 0 12px 12px 0;
            border-left: none;
            border-right: 1px solid var(--secondary-blue);
         }

         & div.professional {
            width: 410px;
            height: 627px;
            background-color: var(--secondary-bg);
            color: #fff;
            border-radius: 12px;
            padding: 30px 60px;

            & li {
               list-style-type: none;
               margin-bottom: 20px;
            }
         }

         & h3 {
            font-family: var(--gilroy-medium);
            line-height: 32px;
            font-size: 24px;
            font-weight: 400;
            margin-bottom: 30px;
         }

         & p.price {
            font-size: 40px;
            line-height: 48px;
            font-family: var(--gilroy-bold);

            &+p {
               font-size: 20px;
               line-height: 32px;
               font-family: var(--gilroy-medium);
               margin: 20px 0 35px;
            }
         }

         &+div {
            margin-top: 70px;

            & a {
               font-family: var(--gilroy-semibold);
               line-height: 12px;
            }
            
            & a:first-child {
               border: 1px solid var(--secondary-blue);
               padding: 10px 20px;
               border-radius: 100px;
               margin-right: 12px;
            }
         }
      }
   }
}